@media screen and (max-width: 1023px) {
    .header__proyecto {
        font-family: 'Abril Fatface', cursive;
        font-style: italic;
        font-size: 20px;
        color: #0F1C0D;
    }
    .nav__lista {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        font-size: 12px;
        width: 100%;
        height: 70px;
        justify-self: flex-start;
        margin: 0px;
    }
    .section__titulo {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: #0F1C0D;
        opacity: 100%;
        font-size: 18px;
        text-align: center;
        margin: 10px 20px 15px;
        margin-top: 10px;
        background-image: linear-gradient(to left, #ada73e4a, #ada73e4a);
        border: 1px solid #ada73e;
    }
    .section__parrafo {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        margin: 15px 20px 15px 20px;
        text-align: justify;
        color:#0F1C0D;
        padding: 10px;
        background-image: linear-gradient(to left, #ada73e4a, #ada73e4a);
        border: 1px solid #ada73e;
    }
    .section_iconos {
        object-fit: cover;
        height: 30px;
        width: 30px;
        margin: 10px;
        align-self: center;
        opacity: 100%;
    }
    .section__titulo-derecha {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: #0F1C0D;
        opacity: 100%;
        font-size: 16px;
        text-align: center;
        margin: 10px;
        margin-top: 10px;
        background-image: linear-gradient(to left, #0d6300d5,#0d6300d5);
        border: 1px solid #0d6300
    }
    .carouselImagenes {
        height: 200px;
        object-fit: cover;
    }
    .video {
        width: 90%;
        height: 180px;
        border: solid 1px #0F6300;
        margin-bottom: 10px;
    }
    .footer__proyecto {
        font-family: 'Abril Fatface', cursive;
        font-style: italic;
        font-size: 20px;
        color: #0F1C0D;
    }
    .label {
        font-size: 16px;
    }
    .recuadro__imagen {
        height: 170px;
        width: 100%;
        object-fit: cover;
        border: 2px green solid;
        transition: all 2s;
        margin: 0px;
    }
    .section__div {
        min-width: 100px;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include base-fondo(linear-gradient(to left, #ada73e4a, #ada73e4a), 1px solid $fondo-parrafos);
        margin: 15px 20px 15px 20px;
        padding: 10px;
      }
    .section__imagen {
        height: 130px;
        width: 230px;
        object-fit: cover;
        border: solid 2px $fondo-amarillo;
        justify-self: center;
      }
    .card {
        display: flex;
        justify-self: center;
        align-self: center;
        height: 200px;
        width: 100px;
        border: $amarillo-nav solid 2px;
        background-color: #fffc51;
        margin: 10px;
      }
      .card-img-top {
        border: $amarillo-nav solid 1px;
        height: 45% !important;
        object-fit: cover;
      }
      .card-title {
        font-size: 10px;
        font-style: italic;
      }
      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 8px;
      }
      .card-text {
        margin-bottom: 2px;
      }
      .btn-primary {
        width: 90%;
        height: 30px;
        background-color: #004503;
        border: $amarillo-nav solid 1px;
        text-align: center;
        font-size: 6px;
      }
      .btn-primary:hover {
        background-color: $amarillo-nav;
        border: #004503 solid 1px;
      }
  }
@media screen and (max-width: 600px) {
    .header__proyecto {
        font-family: 'Abril Fatface', cursive;
        font-style: italic;
        font-size: 18px;
        color: #0F1C0D;
    }
    .nav {
        height: 30px;
    }
    .nav__item {
        height: 30px;
    }
    .nav__enlace {
        height: 30px;
    }
    .nav__lista {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        font-size: 12px;
        width: 100%;
        height: 30px;
        justify-self: flex-start;
        margin: 0px;
    }
    .article {
        top: 90px;
    }
    .carouselImagenes {
        height: 200px;
    }
    .div__article {
        margin-bottom: 60px;
    }
    .section__parrafo-derecha {
        font-size: 14px;
    }
    .section__div {
        min-width: 100px;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include base-fondo(linear-gradient(to left, #ada73e4a, #ada73e4a), 1px solid $fondo-parrafos);
        margin: 15px 20px 15px 20px;
        padding: 10px;
      }
    .section__imagen {
        height: 130px;
        width: 230px;
        object-fit: cover;
        border: solid 2px $fondo-amarillo;
        justify-self: center;
      }
    .card {
        display: flex;
        justify-self: center;
        align-self: center;
        height: 200px;
        width: 100px;
        border: $amarillo-nav solid 2px;
        background-color: #fffc51;
        margin: 10px;
      }
      .card-img-top {
        border: $amarillo-nav solid 1px;
        height: 45% !important;
        object-fit: cover;
      }
      .card-title {
        font-size: 10px;
        font-style: italic;
      }
      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 8px;
      }
      .card-text {
        margin-bottom: 2px;
      }
      .btn-primary {
        width: 90%;
        height: 30px;
        background-color: #004503;
        border: $amarillo-nav solid 1px;
        text-align: center;
        font-size: 6px;
      }
      .btn-primary:hover {
        background-color: $amarillo-nav;
        border: #004503 solid 1px;
      }
    .containerFooter {
        height: 60px;
    }
    .footer {
        height: 60px;
    }
    .footer__proyecto {
        font-size: 15px !important;
    }
    .footer__iconos {
        font-size: 15px;
        margin: 5px;
    }
    .footer__logo {
        height: 30px !important ;
        width: 30px !important;
    }
    .footer__marca {
        height: 30px !important;
        width: 30px !important;
    }
    .footer__derecha {
        height: 30px ;
    }
    .footer__izquierda {
        height: 30px !important;
    }
    .footer__lista {
        height: 30px !important;
    }
}