.section__izquierda {
    background-color: $fondo-verde;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
    position: relative;
  }
@mixin base-fondo ($background-image, $border){
  background-image: $background-image;
  border: $border;
}
  .section__titulo {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: $color-texto;
    opacity: 100%;
    font-size: 28px;
    text-align: center;
    margin: 10px 20px 15px;
    margin-top: 10px;
    @include base-fondo(linear-gradient(to left, #ada73e4a, #ada73e4a), 1px solid $fondo-parrafos);
  }
  .section__parrafo {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 15px 20px 15px 20px;
    text-align: justify;
    color: $color-texto;
    padding: 10px;
    @include base-fondo(linear-gradient(to left, #ada73e4a, #ada73e4a), 1px solid $fondo-parrafos);
  }
  .section__div {
    min-width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include base-fondo(linear-gradient(to left, #ada73e4a, #ada73e4a), 1px solid $fondo-parrafos);
    margin: 15px 20px 15px 20px;
    padding: 10px;
  }
  .section__imagen {
    height: 300px;
    width: 500px;
    object-fit: cover;
    border: solid 2px $fondo-amarillo;
    justify-self: center;
  }
  .section__epigrafe {
    @extend .section__parrafo-derecha;
    font-size: 14px;
    padding: 5px;
    margin: 5px;
  }
  .section_iconos {
    object-fit: cover;
    height: 40px;
    width: 40px;
    margin: 10px;
    align-self: center;
    opacity: 100%;
  }
  .section__iconos--fondo {
    background-image: yellow;
  }
  .enlaces {
    text-decoration: none;
    color: $color-texto;
    cursor: default;
  }
  .enlaces:hover {
    color: $color-texto;
  }