.main__row {
    margin: 0px;
    min-height: 100vh;
    background-color: #004503;
  }
  .main__row-unite {
    margin: 0px;
    background-color: #004503;
  }
  .body {
    background-color: #0F1C0D;
    padding: 0px;
    min-height: 100vh;
    display: flex;
  }
  .article {
    background-color: #004503;
    position: absolute;
    top: 70px;
    min-height: 100%;
  }
  .altura {
    min-height: 100%;
  }
  ul {
    padding-left: 0px;
  }
  .div__article {
    margin-bottom: 70px;
  }
  .m-0 {
    margin: 0;
  }